@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission06_Nyland.Models.Movie

<h2>Movie Submitted!</h2>
<br />
<a asp-controller="Home" asp-action="MovieForm">Movie Form</a>
<br />
<a asp-controller="Home" asp-action="MovieList">Movie List</a>