@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some links to what Joel does.</p>
<br />
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br /><br />
<a href="https://baconsale.com/">Baconsale</a>
<br /><br /><br />
<a href="https://baconsale.com/"><img height="500" src="~/img/BaconsaleKate.jpg" /></a>