@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
